@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    /*background-image: url("back.jpg");*/
    font-family: "Fixedsys Excelsior 3.01 Regular";
	background:url("/static/media/comfy.png") no-repeat center center fixed;
	background-size: cover;
    margin: 0px;
}

a {
	text-decoration: none;
}
a:hover {
    color: #fff;
}
@font-face {
	font-family: "Fixedsys Excelsior 3.01 Regular";
	src: url(/static/media/FSEX300.ttf);
}

.board-list {
    padding: 1em;
    background-color: rgba(0,0,0,0.8);
    border-radius: 3px;
    font-size: .95rem;
    margin: 0em .5em;
}
.box-list-item {
    text-decoration: none;
    color: #8c8c8b;
    margin: .5em 0em;
}

.page-title {
    font-size: 3.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: .25em;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.page-header {
    width: 30%;
    background-color: rgba(0,0,0,0.8);
    padding: 1em;
	margin-bottom: 2em;
    border-radius: 3px;
    color: #fff;
    text-align: center;
}
.inline {
    display: inline-block;
}

.thread-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
	.page-title {
		margin-top: 1em;
	}
    .container {
        height: auto;
    }
    #page-header {
        margin-top: 1em;
    }
    .container > .box-container {
        flex-direction: column;
        width: 60%;
    }
    .box-container > .box-set {
        width: auto;
        margin: 1em 0em;
    }
}

.thread {
    padding: 1em;
    background-color: rgba(0,0,0,0.8);
    border-radius: 3px;
    font-family: "Fixedsys Excelsior 3.01 Regular";
    font-size: .95rem;
    width: 15em;
    height: 10em;
    margin: 0em .5em;
}
.thread-inner-container {
    height: 80%;
    vertical-align: top;
}
.thread-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    margin: 0em 0em .35em 0em;
}
.box {
    text-decoration: none;
    color: #8c8c8b;
    display:block;
    margin: .5em 0em;
}
.box:hover {
    color: #fff;
}
