@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    /*background-image: url("back.jpg");*/
	background-image:url("/static/media/comfy.png");
	background-size: cover;
    margin: 0px;
}

@font-face {
	font-family: "Fixedsys Excelsior 3.01 Regular";
	src: url(/static/media/FSEX300.ttf);
}
.page-title {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: "Fixedsys Excelsior 3.01 Regular";
    color: #fff;
    margin-bottom: .25em;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.page-header {
    width: 30%;
    background-color: rgba(0,0,0,0.8);
    padding: 1em;
    border-radius: 3px;
    font-family: "Fixedsys Excelsior 3.01 Regular";
    color: #fff;
    text-align: center;
}
.inline {
    display: inline-block;
}

.box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
	.page-title {
		margin-top: 1em;
	}
    .container {
        height: auto;
    }
    #page-header {
        margin-top: 1em;
    }
    .container > .box-container {
        flex-direction: column;
        width: 60%;
    }
    .box-container > .box-set {
        width: auto;
        margin: 1em 0em;
    }
}

.box-set{
    padding: 1em;
    background-color: rgba(0,0,0,0.8);
    border-radius: 3px;
    font-family: "Fixedsys Excelsior 3.01 Regular";
    font-size: .95rem;
    width: 25%;
    height: 10em;
    margin: 0em .5em;
}
.box-inner-container {
    height: 80%;
    vertical-align: top;
}
.box-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    margin: 0em 0em .35em 0em;
}
.box {
    text-decoration: none;
    color: #8c8c8b;
    display:block;
    margin: .5em 0em;
}
.box:hover {
    color: #fff;
}
