{% include 'head.html' %}
<div class="container">
	{% include 'board-list.html' %}
	<a class="page-title" href="/{{boardname}}">{{boardname}}</a>
	<div class="page-header">{{boardsubject}}</div>
	<div id="threads-container">
		<div class="thread-container" id="row0"></div>
	</div>
</div>
{% include 'board-scripts.html' %}
{% include 'footer.html' %}
