<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{pagetitle}}</title>
	<link rel="stylesheet" href="/static/css/{{stylesheet}}">
	<link href="/static/media/favicon.png" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
