{% include 'head.html' %}
<div class="container">
	<div class="page-title">comfy chan</div>
	<div class="page-header">{{ comfy_msg }}</div>
	<div class="box-container">
		<div class="box-set">
			<div class="box-title">sfw</div>
			<div class="box-inner-container">
				{% for item in sfw %}
					<a class="box" href="/{{ item }}">/{{item}}/</a>
				{% endfor %}
			</div>
		</div>
		<div class="box-set">
			<div class="box-title">nsfw</div>
			<div class="box-inner-container">
				{% for item in nsfw %}
					<a class="box" href="/{{ item }}">/{{item}}/</a>
				{% endfor %}
			</div>
		</div>
		<div class="box-set">
			<div class="box-title">hobbies</div>
			<div class="box-inner-container">
				{% for item in hobby %}
					<a class="box" href="/{{ item }}">/{{item}}/</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% include 'footer.html' %}
